<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/style.css">
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>

		<div class="sign-up-in-form">	
			<form th:action="@{/createaccount}" th:object="${member}" method="post">
			
				<div th:if="${error}" class="error-message">
					<p th:text="${error}"></p>
				</div>
				
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></p>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
				<input type="text" name="username" placeholder="username" required>
				<input type="password" name="password" placeholder="password" required>
				<input type="password" name="verifyPassword" placeholder="re-enter password" required>
				<button type="submit">Create Account</button>
				
			</form>
		</div>

</body>
</html>
